body
{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
nav li{
    list-style-type: none;
    display: table;
    float: left;
    margin-left: 5px;
}
#pied {
	display: inline-block;
	width: 100%;
	position: relative;
	bottom: 0;
}